.conteiner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    margin-top: 90px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
h1{
    margin-left: 35%;
}

.proporcao {
    display: flex;
}

.inner-div {
    /*configurações do input*/
    margin: 10px;
    background: #E9E9ED;
    margin-right: 5px;
}

/* Estilo para tornar o fundo do input transparente */
.inner-div input {
    background-color: transparent;
    width: 95%;
    border-color: transparent;
}

.inner-div input:focus{
    width: 99%;
    border: 2px solid rgb(142, 135, 135); /* Defina a cor da borda desejada quando o input está selecionado */
    outline: none; /* Remove a borda padrão do navegador que geralmente aparece ao selecionar um input */
}
.div-botao-calcular {
    display: flex;
    justify-content: center;
    align-items: center;
}
.botao-calcular {
    background-color: #0583F2;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    
}